
Java/Fraktale/.idea/Fraktale.iml
*.xml
*.mf
*.properties
Java/Fraktale/src/turtlePck/ArrowTurtle.java
Java/Fraktale/src/turtlePck/BallTurtle.java
Java/Fraktale/src/turtlePck/BoxTurtle.java
Java/Fraktale/src/turtlePck/CrossTurtle.java
Java/Fraktale/src/turtlePck/TGCanvas.java
Java/Fraktale/src/turtlePck/TGFillOp.java
Java/Fraktale/src/turtlePck/TGGraphicsOp.java
Java/Fraktale/src/turtlePck/TGKeyHandler.java
Java/Fraktale/src/turtlePck/TGLabelOp.java
Java/Fraktale/src/turtlePck/TGLineOp.java
Java/Fraktale/src/turtlePck/TGMouseHandler.java
Java/Fraktale/src/turtlePck/TGPoint.java
Java/Fraktale/src/turtlePck/TriangleTurtle.java
Java/Fraktale/src/turtlePck/Turtle.java
Java/Fraktale/src/turtlePck/TurtleGraphicsWindow.java
Java/Fraktale/src/turtlePck/TurtlePixels.java
Java/Fraktale/src/turtlePck/TurtleTurtle.java
