
Java/Fraktale/.idea/Fraktale.iml
*.xml
*.mf
*.properties
Java/Fraktale/src/turtlePck/ArrowTurtle.java
Java/Fraktale/src/turtlePck/BallTurtle.java
Java/Fraktale/src/turtlePck/BoxTurtle.java
Java/Fraktale/src/turtlePck/CrossTurtle.java
Java/Fraktale/src/turtlePck/TGCanvas.java
Java/Fraktale/src/turtlePck/TGFillOp.java
Java/Fraktale/src/turtlePck/TGGraphicsOp.java
Java/Fraktale/src/turtlePck/TGKeyHandler.java
Java/Fraktale/src/turtlePck/TGLabelOp.java
Java/Fraktale/src/turtlePck/TGLineOp.java
Java/Fraktale/src/turtlePck/TGMouseHandler.java
Java/Fraktale/src/turtlePck/TGPoint.java
Java/Fraktale/src/turtlePck/TriangleTurtle.java
Java/Fraktale/src/turtlePck/Turtle.java
Java/Fraktale/src/turtlePck/TurtleGraphicsWindow.java
Java/Fraktale/src/turtlePck/TurtlePixels.java
Java/Fraktale/src/turtlePck/TurtleTurtle.java
Java/Fraktale/Fraktale.iml
Java/Fraktale/out/production/Fraktale/turtlePck/ArrowTurtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/BallTurtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/BoxTurtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/CrossTurtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGCanvas.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGFillOp.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGGraphicsOp.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGKeyHandler.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGLabelOp.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGLineOp.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGMouseHandler.class
Java/Fraktale/out/production/Fraktale/turtlePck/TGPoint.class
Java/Fraktale/out/production/Fraktale/turtlePck/TriangleTurtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/Turtle.class
Java/Fraktale/out/production/Fraktale/turtlePck/TurtleGraphicsWindow.class
Java/Fraktale/out/production/Fraktale/turtlePck/TurtlePixels.class
Java/Fraktale/out/production/Fraktale/turtlePck/TurtleTurtle.class
*.class
Java/Semafory/ABCwithoutSem.java
Java/Semafory/ABCwithoutSemwithDelay.java
Java/Semafory/ABCwithSem.java
Java/Semafory/DiningPhilosophers.java
Java/Semafory/out/production/Semafory/semaphores/Semafory.iml
Java/Semafory/ProdCons.java
Java/Semafory/Semafory.iml
Java/Semafory/sum16.java
Java/Semafory/sum16.java
c++/ppk/projekt-semestr1/CppProperties.json
c++/ppk/projekt-semestr1/.vs/VSWorkspaceState.json
c++/ppk/projekt-semestr1/.vs/slnx.sqlite
c++/ppk/projekt-semestr1/.vs/projekt-semestr1/v17/ipch/AutoPCH/95523e40212afb57/VCTMP15392_245575.MAIN.00000000.ipch
c++/ppk/projekt-semestr1/.vs/projekt-semestr1/v17/ipch/AutoPCH/6bc642a18403b891/MAIN.ipch
*.ipch
*.db
c++/ppk/projekt-semestr1/.vs/projekt-semestr1/v17/.wsuo
c++/ppk/projekt-semestr1/.vs/projekt-semestr1/FileContentIndex/read.lock
*.vsidx
*.json
c++/ppk/lab8/cmake-build-debug/CMakeFiles/clion-log.txt
c++/ppk/projekt-semestr1/.idea/.name
c++/ppk/projekt-semestr1/CMakeLists.txt
*.log
*.exe
*.txt
*.ninja
*.obj
*.check_cache
c++/ppk/projekt-semestr1/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
c++/ppk/projekt-semestr1/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
c++/ppk/projekt-semestr1/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
c++/ppk/projekt-semestr1/cmake-build-debug/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
*.bin
*.cmake
c++/ppk/projekt-semestr1/.idea/projekt-semestr1.iml
c++/ppk/projekt-semestr1/.vscode/settings.json
c++/ppk/projekt-semestr1/cmake-build-debug/.ninja_deps
c++/ppk/projekt-semestr1/.vscode/settings.json
*.json
c++/ppk/projekt-semestr1/cmake-build-debug/.ninja_log
c++/ppk/projekt-semestr1/doxygen/latex/doxygen.sty
c++/ppk/projekt-semestr1/doxygen/latex/files.tex
c++/ppk/projekt-semestr1/doxygen/latex/longtable_doxygen.sty
c++/ppk/projekt-semestr1/doxygen/latex/main_8h_source.tex
c++/ppk/projekt-semestr1/doxygen/latex/make.bat
c++/ppk/projekt-semestr1/doxygen/latex/Makefile
c++/ppk/projekt-semestr1/doxygen/latex/refman.tex
c++/ppk/projekt-semestr1/doxygen/latex/tabu_doxygen.sty
